@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --background-global : #0e0e10;
    --background-nav :#18181b;
    --twitch-main-color : #9147ff;
    --twitch-main-color-hover : #772ce8;
    --textColor : #fff;
    --background-component : #4e4e53;
    --background-component-hover : #5e5e64;
    --error-color : #eb0400;
    --error-color-text : #f67d7b;
}


a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul,
var{
    background: transparent;
    font-size: 100%;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }

body {
    background-color: var(--background-global);
    color: var(--textColor);
    font-family: 'Roboto', sans-serif;
}
